@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-manrope;
    }
}

@layer utilities {
    .font-manrope {
        font-family: "Manrope", sans-serif;
    }
}
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}
.scrollbar-hidden {
    -ms-overflow-style: none; /* for Internet Explorer */
    scrollbar-width: none; /* for Firefox */
}
