---
import Layout from "../layouts/Layout.astro";
import Welcome from "../components/Welcome.astro";
import Video from "../components/Video.astro";
import Grid from "../components/Grid.astro";
import Av from "../components/Av.astro";
import Card from "../components/Card.astro";
import Info from "../components/Info.astro";
---

<Layout>
    <div class="overflow-scroll scrollbar-hidden">
        <Welcome />
        <Av />
        <Grid />
        <Video />
        <Card />
        <Info />
    </div>
</Layout>
