---

---

<div class="bg-[#F9F9F9]">
    <div
        class="flex flex-col items-center justify-center min-h-screen max-sm:mx-4"
    >
        <h2
            class="text-[40px] max-sm:text-[24px] font-medium mb-1 text-[#31323D] max-sm:text-center"
        >
            AirVault doesn't just store your media.
        </h2>
        <h1
            class="font-bold mb-4 text-[#31323D] bg-clip-text text-transparent bg-gradient-to-r from-[#5C5C5C] via-[#3D3D3D] to-[#5C5C5C] text-[68px] max-sm:text-[36px] leading-[80px] max-sm:leading-[50px] max-sm:text-center"
        >
            We track your memories.
        </h1>
        <p
            class="text-[22px] max-sm:text-lg max-sm:leading-[24px] font-medium text-[#31323D] mb-4 text-center"
        >
            Your entire life-story right at your fingertips.
        </p>
        <button
            class="mb-28 max-sm:mb-28 bg-[#FF6A00] text-[#F9F9F9] py-3 px-6 rounded-full font-medium text-[18px]"
        >
            Try AirVault Now
        </button>
        <div class="flex items-center justify-center mb-40 max-sm:mx-4">
            <img
                src="/phone1.png"
                alt="Phone 1"
                class="w-1/3 max-sm:w-2/3 translate-y-5 translate-x-8 max-sm:translate-x-10"
            />
            <img
                src="/phone2.png"
                alt="Phone 2"
                class="w-[38%] max-sm:w-[75%] translate-y-2 max-sm:translate-y-4 max-sm:-translate-x-9"
            />
        </div>
    </div>
</div>
