<div class="min-h-screen bg-white">
    <h1
        class="font-bold sm:mx-64 max-sm:mx-4 mb-4 text-center text-[#31323D] max-sm:bg-clip-text max-sm:text-transparent max-sm:bg-gradient-to-r max-sm:from-[#5C5C5C] max-sm:via-[#3D3D3D] max-sm:to-[#5C5C5C] text-[68px] max-sm:text-[36px] leading-[80px] max-sm:leading-[50px] max-sm:text-center"
    >
        Your memories are worth everything!
    </h1>
    <p
        class="text-[22px] max-sm:mx-4 max-sm:text-[18px] text-[#31323D] mb-12 text-center"
    >
        No one understands it better than us.
    </p>
    <!-- PC  -->
    <div
        class="flex flex-row flex-nowrap justify-center w-full overflow-hidden py-8 max-sm:hidden"
    >
        <img
            src="/card/card1.svg"
            alt=""
            class="max-sm:w-[140px] w-full h-full object-cover block"
        />
        <img
            src="/card/card2.svg"
            alt=""
            class="max-sm:w-[140px] w-full h-full object-cover block sm:translate-y-20"
        />
        <img
            src="/card/card3.svg"
            alt=""
            class="max-sm:w-[200px] max-sm:order-3 w-full h-full object-cover block sm:-translate-y-1 sm:scale-110"
        />
        <img
            src="/card/card4.svg"
            alt=""
            class="max-sm:w-[140px] w-full h-full object-cover block sm:translate-y-20 sm:-translate-x-5 sm:rotate-[5deg] sm:scale-110"
        />
        <img
            src="/card/card5.svg"
            alt=""
            class="max-sm:w-[140px] w-full h-full object-cover block sm:rotate-[5deg] sm:scale-105"
        />
    </div>
    <!-- mobile -->
    <div
        class="relative grid grid-cols-2 gap-2 max-sm:w-full max-sm:h-full sm:hidden"
    >
        <img
            src="/card/card1.svg"
            alt=""
            class="w-[80%] object-cover scale-105"
        />
        <img
            src="/card/card2.svg"
            alt=""
            class="w-[80%] object-cover translate-x-9"
        />
        <img
            src="/card/card4.svg"
            alt=""
            class="w-[80%] object-cover z-10 scale-110 translate-y-4"
        />
        <img
            src="/card/card5.svg"
            alt=""
            class="w-[80%] object-cover translate-x-9"
        />
        <img
            src="/card/card3.svg"
            alt=""
            class="absolute w-1/2 h-1/2 object-cover top-1/4 left-1/4 z-0"
        />
    </div>
</div>
