---

---

<div class="flex flex-col bg-white">
    <h1
        class="pt-[116px] text-[68px] max-sm:text-[36px] font-bold text-center mb-4 bg-clip-text text-transparent bg-gradient-to-r from-[#5C5C5C] via-[#3D3D3D] to-[#5C5C5C] leading-[80px] max-sm:leading-[50px]"
    >
        We know the faces you love
    </h1>
    <p
        class="text-[22px] max-sm:text-[18px] mb-8 text-center text-[#3D3D3D] font-medium mx-[290px] max-sm:mx-4 max-sm:text-center max-sm:leading-[24px] text-pretty"
    >
        AirVault uses AI to find your loved ones, across all your memories.
        Letting you live those happy moments that truly happen only once.
    </p>
    <button
        class="mb-12 max-sm:mb-12 w-[200px] mx-auto bg-[#FF6A00] text-[#F9F9F9] py-3 px-6 rounded-full font-medium text-[18px]"
    >
        Try AirVault Now
    </button>
    <!-- pc grid -->
    <div class="grid gap-4 mb-[141px] max-sm:hidden">
        <!-- First Row (5 Images) -->
        <div class="grid grid-cols-5 gap-4">
            <img src="/grid1.svg" class="w-full" alt="Image 1" />
            <img src="/grid2.svg" class="w-full" alt="Image 2" />
            <img src="/grid3.svg" class="w-full" alt="Image 3" />
            <img src="/grid4.svg" class="w-full" alt="Image 4" />
            <img src="/grid5.svg" class="w-full" alt="Image 5" />
        </div>

        <!-- Second Row (4 Images) -->
        <div class="grid grid-cols-4 gap-4">
            <img src="/grid6.svg" class="w-full" alt="Image 6" />
            <img src="/grid7.svg" class="w-full" alt="Image 7" />
            <img src="/grid8.svg" class="w-full" alt="Image 8" />
            <img src="/grid9.svg" class="w-full" alt="Image 9" />
        </div>

        <!-- Third Row (3 Images) -->
        <div class="grid grid-cols-3 gap-4">
            <img src="/grid10.svg" class="w-full" alt="Image 10" />
            <img src="/grid11.svg" class="w-full" alt="Image 11" />
            <img src="/grid12.svg" class="w-full" alt="Image 12" />
        </div>
    </div>

    <!-- mobile grid -->
    <div class="grid gap-4 mb-[141px] sm:hidden">
        <!-- Grid1 -->
        <div class="grid grid-cols-2 gap-4">
            <!-- First Column -->
            <div class="grid gap-4">
                <img
                    src="/mobile-grid/mgrid1.svg"
                    class="w-full h-full object-cover"
                    alt="Image 1"
                />
                <img
                    src="/mobile-grid/mgrid2.svg"
                    class="w-full h-full object-cover"
                    alt="Image 3"
                />
            </div>
            <!-- Second Column -->
            <img
                src="/mobile-grid/mgrid3.svg"
                class="w-full h-full object-cover"
                alt="Image 2"
            />
        </div>

        <!-- grid2 -->
        <div class="grid grid-cols-2 gap-4">
            <img
                src="/mobile-grid/mgrid4.svg"
                class="w-full h-full object-cover"
                alt="Image 1"
            />
            <img
                src="/mobile-grid/mgrid5.svg"
                class="w-full h-full object-cover"
                alt="Image 3"
            />
        </div>

        <!-- grid3 -->
        <div class="grid grid-cols-2 gap-4">
            <!-- First Column -->
            <img
                src="/mobile-grid/mgrid6.svg"
                class="w-full h-full object-cover"
                alt="Image 2"
            />
            <!-- Second Column -->
            <div class="grid gap-4">
                <img
                    src="/mobile-grid/mgrid7.svg"
                    class="w-full h-full object-cover"
                    alt="Image 1"
                />
                <img
                    src="/mobile-grid/mgrid8.svg"
                    class="w-full h-full object-cover"
                    alt="Image 3"
                />
            </div>
        </div>
        <!-- grid4 -->
        <div class="grid grid-cols-2 gap-4">
            <img
                src="/mobile-grid/mgrid9.svg"
                class="w-full h-full object-cover"
                alt="Image 1"
            />
            <img
                src="/mobile-grid/mgrid10.svg"
                class="w-full h-full object-cover"
                alt="Image 3"
            />
        </div>
        <div class="grid grid-cols-2 gap-4">
            <img
                src="/mobile-grid/mgrid11.svg"
                class="w-full h-full object-cover"
                alt="Image 1"
            />
            <img
                src="/mobile-grid/mgrid12.svg"
                class="w-full h-full object-cover"
                alt="Image 3"
            />
        </div>
    </div>
</div>
