<div
    class="min-h-screen bg-[#F9F9F9] flex flex-col items-center justify-center"
>
    <h2
        class="h1i font-medium text-center sm:mx-80 mb-12 max-sm:mx-4 max-sm:pt-60 text-[#31323D] text-[32px] max-sm:text-[21px] max-sm:text-center pt-[160px]"
    >
        Explore our wide selection of products that helps you preserve your
        memories, in your own style.
    </h2>

    <div class="w-full px-4 lg:px-20">
        <div
            class="grid grid-cols-1 lg:grid-cols-2 gap-4 w-full max-w-[1200px] mx-auto"
        >
            <!-- Card 1 -->
            <div
                class="bg-[#FFFFFF] py-16 max-sm:px-6 lg:px-[60px] rounded-2xl w-full max-sm:h-[740px] lg:h-[640px] overflow-hidden"
            >
                <p
                    class="text-[36px] lg:text-[40px] text-[#58585C] font-medium"
                >
                    <span
                        class="font-extrabold bg-gradient-to-r from-[#4873FF] via-[#593CFF] to-[#FF3CCB] bg-clip-text text-transparent"
                    >
                        AirVault Cloud
                    </span>
                    is built for people who like it to keep it <span
                        class="font-extrabold text-[#31323D]">simple.</span
                    >
                </p>
                <p
                    class="mt-6 text-[#64667A] text-[18px] lg:text-[22px] font-medium"
                >
                    AirVault Cloud lets you pack light on your trips so you can <span
                        class="font-bold text-[#31323D]"
                        >explore the world with just your phone.</span
                    >
                </p>
                <button
                    class="tryButton mt-12 mb-7 hover:bg-[#F5F3F3] sm:mt-[116px] bg-white border border-[#31323D] text-[#31323D] font-semibold py-2 px-4 rounded-full transition-transform hover:scale-110"
                >
                    Try AirVault Now
                </button>
                <!-- image mobile-->
                <div
                    class="w-full h-auto flex justify-center items-center sm:hidden"
                >
                    <img
                        src="/mav-1.png"
                        alt="AirVault Cloud"
                        class="w-full h-auto scale-90"
                    />
                </div>

                <!-- image desktop -->
                <div
                    class="hidden sm:flex justify-center items-center relative"
                >
                    <img
                        src="/av-1.png"
                        alt="AirVault Cloud"
                        class="w-[63%] h-auto absolute -bottom-40 -right-24 scale-75 img1i"
                    />
                </div>
            </div>

            <!-- Card 2 -->
            <div
                class="bg-white py-16 max-sm:px-6 lg:px-[60px] rounded-2xl w-full h-auto lg:h-[640px] overflow-hidden"
            >
                <p
                    class="text-[36px] lg:text-[40px] text-[#58585C] font-medium"
                >
                    <span
                        class="font-extrabold bg-gradient-to-r from-[#4873FF] via-[#593CFF] to-[#FF3CCB] bg-clip-text text-transparent"
                    >
                        AirVault Go
                    </span>
                    is built for people who like it to keep it <span
                        class="font-extrabold text-[#31323D]">close.</span
                    >
                </p>
                <p
                    class="mt-6 text-[#64667A] text-[18px] lg:text-[22px] font-medium w-[60%] max-sm:w-[70%]"
                >
                    AirVault Cloud lets you <span
                        class="font-bold text-[#31323D]"
                        >keep all your memories in your pocket,</span
                    > so you can take them with you even on the craziest of adventures.
                </p>
                <button
                    class="tryButton mt-12 mb-[136px] hover:bg-[#F5F3F3] bg-white border border-[#31323D] text-[#31323D] font-semibold py-2 px-4 rounded-full transition-transform hover:scale-110"
                >
                    Try AirVault Now
                </button>
                <!-- image -->
                <div class="flex justify-center items-center relative">
                    <img
                        src="/av-2.png"
                        alt="AirVault Cloud"
                        class="img2i w-[65%] max-sm:w-[85%] h-auto absolute bottom-5 -right-16 max-sm:-right-6 max-sm:bottom-[70px] max-sm:translate-x-8 max-sm:scale-125"
                    />
                </div>
            </div>

            <!-- Card 3 -->
            <div
                class="bg-white mb-[216px] py-16 max-sm:px-6 lg:px-[60px] rounded-2xl w-full col-span-1 lg:col-span-2 h-auto lg:h-[640px] flex flex-col lg:flex-row gap-8"
            >
                <div class="w-full lg:w-[41%]">
                    <h3
                        class="h3i text-[36px] lg:text-[40px] text-[#58585C] font-medium text-pretty"
                    >
                        <span
                            class="font-extrabold bg-gradient-to-r from-[#FF9900] via-[#F54545] to-[#B41FFF] bg-clip-text text-transparent"
                        >
                            AirVault Pro
                        </span>
                        is built for people who are hungry for <span
                            class="font-extrabold text-[#58585C]">power</span
                        >.
                    </h3>
                    <p
                        class="mt-6 text-[#64667A] text-[18px] lg:text-[22px] font-medium"
                    >
                        AirVault Pro brings together the power of distributed
                        hosting into a single compact package, allowing your
                        team to
                        <span class="font-bold text-[#31323D]">
                            simultaneously access all your files at blazing fast
                            speed!</span
                        >
                    </p>
                    <button
                        class="tryButton mt-14 bg-white hover:bg-[#F5F3F3] border border-[#31323D] text-[#31323D] font-semibold py-2 px-4 rounded-full transition-transform hover:scale-110"
                    >
                        Try AirVault Now
                    </button>
                </div>
                <div
                    class="w-full lg:w-[65%] flex justify-center max-sm:justify-start max-sm:mt-6 lg:mt-0 rounded-xl pr-0"
                >
                    <img
                        src="/av-pro.svg"
                        alt="AirVault Pro Device"
                        class="img3i max-w-full h-auto sm:scale-110 rounded-xl -mr-[60px] -mb-[55px] max-sm:scale-125 max-sm:-ml-[11px]"
                    />
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", async () => {
        const { gsap } = await import("gsap");
        const { ScrollTrigger } = await import("gsap/ScrollTrigger");
        gsap.registerPlugin(ScrollTrigger);

        const mediaQuery = window.matchMedia("(min-width: 1024px)");

        gsap.from(".h1i", {
            scrollTrigger: {
                trigger: ".h1i", // Trigger animation when paragraph comes into view
                start: "top 70%",
                end: "bottom 20%",
                toggleActions: "play reverse play reverse", // Play when entering, reverse when leaving, play when re-entering
                onLeave: () => {
                    gsap.set(".h1i", { opacity: 0 }); // Reset to initial state when leaving
                },
            },
            opacity: 0, // Start from invisible
            y: 100, // Start from 100px below
            duration: 1.2, // Duration of animation
            ease: "power2.out",
        });

        /* image1 */

        gsap.fromTo(
            ".img1i",
            {
                opacity: 100,
                y: 20, // Start position (off-screen at the bottom)
            },
            {
                opacity: 1,
                y: -27, // Move up when scrolling down
                duration: 2,
                ease: "power2.out",
                scrollTrigger: {
                    trigger: ".img1i",
                    start: "top 80%",
                    end: "bottom 20%", // Animation should happen across this area
                    scrub: true, // Smooth scroll effect and reverse on scroll up
                    toggleActions: "play reverse play reverse",
                },
            }
        );

        // Image 2 (Moves down when scrolling down, reverse on scroll up)

        gsap.fromTo(
            ".img2i",
            {
                opacity: 100,
                y: -50, // Start position (off-screen at the top)
            },
            {
                opacity: 1,
                y: 30, // Move down when scrolling down
                duration: 2,
                ease: "power2.out",
                scrollTrigger: {
                    trigger: ".img2i",
                    start: "top 80%",
                    end: "bottom 20%", // Animation should happen across this area
                    scrub: true, // Smooth scroll effect and reverse on scroll up
                    toggleActions: "play reverse play reverse",
                },
            }
        );

        /* image3  */
        if (mediaQuery.matches) {
            gsap.fromTo(
                ".img3i",
                {
                    opacity: 100,
                    scale: 0.8,
                    x: -20,
                    y: -40, // Start position (off-screen at the top)
                },
                {
                    y: -19,
                    x: -3,
                    scale: 1.1,
                    opacity: 1,
                    duration: 2,
                    ease: "power2.out",
                    scrollTrigger: {
                        trigger: ".img1i",
                        start: "top 100%",
                        end: "bottom 20%", // Animation should happen across this area
                        scrub: true, // Smooth scroll effect and reverse on scroll up
                        toggleActions: "play reverse play reverse",
                    },
                }
            );
        }
        // Button click functionality
        const tryButtons = document.querySelectorAll(".tryButton");
        tryButtons.forEach((button) => {
            button.addEventListener("click", function () {
                window.location.href = "/register";
            });
        });
    });
</script>
