<div
    class="min-h-screen bg-gray-100/90 flex flex-col items-center justify-center"
>
    <h2
        class="font-medium text-center sm:mx-80 sm:mb-12 max-sm:mx-4 max-sm:mb-2 text-[#31323D] text-[32px] max-sm:text-[24px] max-sm:text-left pt-[160px] max-sm:pt-[260px]"
    >
        Explore our wide selection of products that helps you preserve your
        memories, in your own style.
    </h2>
    <div class="sm:hidden">
        <h1
            class="text-[68px] max-sm:text-[36px] font-bold text-center mb-4 bg-clip-text text-transparent bg-gradient-to-r from-[#5C5C5C] via-[#3D3D3D] to-[#5C5C5C] leading-[80px] max-sm:leading-[50px]"
        >
            We track your memories.
        </h1>
        <p
            class="text-center font-medium text-[18px] leading-[24px] text-[#3D3D3D] mb-4"
        >
            Your entire life-story right at your fingertips.
        </p>
        <div class="flex justify-center mb-[80px]">
            <button
                class="bg-white border border-[#31323D] text-[#31323D] font-semibold py-2 px-4 rounded-full transition-transform hover:scale-110"
            >
                Try AirVault Now
            </button>
        </div>
    </div>
    <div class="w-full px-4 lg:px-20">
        <div
            class="grid grid-cols-1 lg:grid-cols-2 gap-4 w-full max-w-[1200px] mx-auto"
        >
            <!-- Card 1 -->
            <div
                class="bg-white py-16 max-sm:px-6 lg:px-[60px] rounded-2xl w-full h-auto lg:h-[640px]"
            >
                <p
                    class="text-[36px] lg:text-[40px] text-[#58585C] font-medium"
                >
                    <span
                        class="font-extrabold bg-gradient-to-r from-[#4873FF] via-[#593CFF] to-[#FF3CCB] bg-clip-text text-transparent"
                    >
                        AirVault Cloud
                    </span>
                    is built for people who like it to keep it <span
                        class="font-extrabold text-[#31323D]">simple.</span
                    >
                </p>
                <p
                    class="mt-6 text-[#64667A] text-[18px] lg:text-[22px] font-medium"
                >
                    AirVault Cloud lets you pack light on your trips so you can <span
                        class="font-bold text-[#31323D]"
                        >explore the world with just your phone.</span
                    >
                </p>
                <button
                    class="mt-14 bg-white border border-[#31323D] text-[#31323D] font-semibold py-2 px-4 rounded-full transition-transform hover:scale-110"
                >
                    Try AirVault Now
                </button>
            </div>

            <!-- Card 2 -->
            <div
                class="bg-white py-16 max-sm:px-6 lg:px-[60px] rounded-2xl w-full h-auto lg:h-[640px]"
            >
                <p
                    class="text-[36px] lg:text-[40px] text-[#58585C] font-medium"
                >
                    <span
                        class="font-extrabold bg-gradient-to-r from-[#4873FF] via-[#593CFF] to-[#FF3CCB] bg-clip-text text-transparent"
                    >
                        AirVault Go
                    </span>
                    is built for people who like it to keep it <span
                        class="font-extrabold text-[#31323D]">close.</span
                    >
                </p>
                <p
                    class="mt-6 text-[#64667A] text-[18px] lg:text-[21px] font-medium"
                >
                    AirVault Cloud lets you <span
                        class="font-bold text-[#31323D]"
                        >keep all your memories in your pocket,</span
                    > so you can take them with you even on the craziest of adventures.
                </p>
                <button
                    class="mt-14 pt-px bg-white border border-[#31323D] text-[#31323D] font-semibold py-2 px-4 rounded-full transition-transform hover:scale-110"
                >
                    Try AirVault Now
                </button>
            </div>

            <!-- Card 3 -->
            <div
                class="bg-white mb-[216px] py-16 max-sm:px-6 lg:px-[60px] rounded-2xl w-full col-span-1 lg:col-span-2 h-auto lg:h-[640px] flex flex-col lg:flex-row gap-8"
            >
                <div class="w-full lg:w-[35%]">
                    <h3
                        class="text-[36px] lg:text-[40px] text-[#58585C] font-medium text-pretty"
                    >
                        <span
                            class="font-extrabold bg-gradient-to-r from-[#FF9900] via-[#F54545] to-[#B41FFF] bg-clip-text text-transparent"
                        >
                            AirVault Pro
                        </span>
                        is built for people who are hungry for <span
                            class="font-extrabold text-[#58585C]">power</span
                        >.
                    </h3>
                    <p
                        class="mt-6 text-[#64667A] text-[18px] lg:text-[22px] font-medium"
                    >
                        AirVault Pro lets your team work on all, so you can take
                        them with you even on the craziest of adventures.
                    </p>
                    <button
                        class="mt-14 bg-white border border-[#31323D] text-[#31323D] font-semibold py-2 px-4 rounded-full transition-transform hover:scale-110"
                    >
                        Try AirVault Now
                    </button>
                </div>
                <div
                    class="w-full lg:w-[65%] flex justify-center max-sm:justify-start max-sm:mt-6 lg:mt-0 rounded-xl pr-0 max-sm:hidden"
                >
                    <img
                        src="/av-pro.svg"
                        alt="AirVault Pro Device"
                        class="max-w-full h-auto scale-110 rounded-xl"
                    />
                </div>
            </div>
        </div>
    </div>
</div>
