<div
    class="min-h-screen bg-[#F9F9F9] flex flex-col items-center justify-center"
>
    <h1
        class="font-bold text-center pt-[160px] max-sm:pt-[120px] mx-64 max-sm:mx-4 mb-4 text-[#31323D] bg-clip-text text-transparent bg-gradient-to-r from-[#5C5C5C] via-[#3D3D3D] to-[#5C5C5C] text-[68px] max-sm:text-[36px] leading-[80px] max-sm:leading-[50px] max-sm:text-center"
    >
        The best moments are the ones you share
    </h1>
    <p
        class="text-[22px] mx-64 max-sm:mx-4 max-sm:text-[18px] text-[#31323D] mb-8 text-center"
    >
        Share your memories with your friends and family with a single click.
    </p>
    <button
        class="mb-12 max-sm:mb-12 bg-[#FF6A00] text-[#F9F9F9] py-3 px-6 rounded-full font-medium text-[18px]"
    >
        Try AirVault Now
    </button>

    <!-- desktop image -->
    <div
        class="max-sm:hidden flex items-center justify-center mb-[160px] mt-[64px] ml-[100px]"
    >
        <div class="flex gap-4 w-[870px]">
            <img
                src="/video1.png"
                alt="Video 1"
                class="w-[200px] h-[241px] rounded-xl translate-x-1 translate-y-1"
            />
            <img
                src="/video2.png"
                alt="Video 2"
                class="w-[191px] h-[230px] rounded-xl -translate-x-40 translate-y-40 z-20"
            />
            <img
                src="/video3.png"
                alt="Video 3"
                class="w-[328px] h-[394px] rounded-xl -translate-x-[220px] -translate-y-[40px] z-10"
            />
            <img
                src="/video4.png"
                alt="Video 4"
                class="w-[420px] h-[362px] rounded-xl -translate-x-[348px] translate-y-[66px] z-20"
            />
        </div>
    </div>

    <!-- mobile image -->
    <div
        class="sm:hidden w-[calc(100%)] flex items-center justify-center mb-[160px]"
    >
        <img src="/mvideo.png" alt="" />
    </div>
</div>
