<div
    class="min-h-screen bg-[#F9F9F9] flex flex-col items-center justify-center"
>
    <h1
        class="font-bold text-center mx-64 max-sm:mx-4 mb-4 text-[#31323D] max-sm:bg-clip-text max-sm:text-transparent max-sm:bg-gradient-to-r max-sm:from-[#5C5C5C] max-sm:via-[#3D3D3D] max-sm:to-[#5C5C5C] text-[68px] max-sm:text-[36px] leading-[80px] max-sm:leading-[50px] max-sm:text-center"
    >
        The best moments are the ones you share
    </h1>
    <p
        class="text-[22px] mx-64 max-sm:mx-4 max-sm:text-[18px] text-[#31323D] mb-8 text-center"
    >
        Share your memories with your friends and family with a single click.
    </p>
    <button
        class="mb-12 max-sm:mb-12 bg-[#FF6A00] text-[#F9F9F9] py-3 px-6 rounded-full font-medium text-[18px]"
    >
        Try AirVault Now
    </button>

    <div
        class="bg-gray-300 w-[910px] max-sm:w-[calc(98%-2rem)] max-sm:mx-4 h-[460px] max-sm:h-[560px] flex items-center justify-center mb-[160px] rounded-xl"
    >
        <p class="text-black">video clip / GIF</p>
    </div>
</div>
