---
export const client = "load";
---

<div class="min-h-screen bg-[#F9F9F9]">
    <div class="pt-6 mb-28 ml-16 max-sm:ml-4 max-sm:mb-48">
        <img src="/logo.svg" alt="AirVault Logo" />
    </div>

    <div
        class="flex flex-col items-center justify-center h-[calc(100vh-150px)] max-sm:mx-4"
    >
        <h1
            class="text-[68px] text-center max-sm:text-[36px] font-bold mb-4 bg-clip-text text-transparent bg-gradient-to-r from-[#5C5C5C] via-[#3D3D3D] to-[#5C5C5C] leading-[80px] max-sm:leading-[50px]"
        >
            Your photo gallery is a mess!<br />We can fix it.
        </h1>
        <p
            class="text-[22px] max-sm:text-[18px] text-[#3D3D3D] text-center mb-8 font-medium"
        >
            AirVault is the easiest way to capture and relive your memories.
        </p>
        <button
            id="tryButton"
            class="wb1 mb-28 max-sm:mb-64 bg-[#FF6A00] hover:bg-[#FA8532] text-[#F9F9F9] py-3 px-6 rounded-full font-medium text-[18px] transition-transform hover:scale-110"
        >
            Try AirVault Now
        </button>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", async () => {
        const tryButton = document.getElementById("tryButton");
        if (tryButton) {
            tryButton.addEventListener("click", () => {
                window.location.href = "/register";
            });
        }

        // Dynamically import GSAP
        /*   const { gsap } = await import("gsap");

        const header = document.querySelector("h1");
        const paragraph = document.querySelector("p");
        const button = document.getElementById("tryButton");

        if (header && paragraph && button) {
            gsap.timeline()
                .from(header, {
                    duration: 1.2,
                    opacity: 0,
                    y: 200, // Start 100px below final position
                    ease: "power2.out",
                })
                .from(
                    paragraph,
                    {
                        duration: 1.2,
                        delay: 0.1,
                        opacity: 0,
                        y: 200,
                        ease: "power2.out",
                    },
                    "-=0.5"
                )
                .from(
                    ".wb1",
                    {
                        duration: 1.2,
                        opacity: 0,
                        delay: 0.1,
                        ease: "power2.out",
                        scale: 1,
                    },
                    "-=0.5"
                );
        } */
    });
</script>
